@use '../core/variables' as vars;

body {
    padding: 2rem;
    height: 100vh;
    background-image: url('/images/bg-adalab.png');
    background-color: vars.$color-bg;
    font-family: vars.$font-main;
}