.link__adalab:hover {background-color: #099d8d;color: #fff;}.link__github:hover {background-color: #CCC;color: #000;}body {background: url("../images/logo-adalab-80px.png") center center no-repeat #f3f4f5;margin: 0;height: 100vh;}
